# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/
build/
out/

# Debugging and symbol files
*.ilk
*.pdb
*.exp
*.idb

# CMake build outputs
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps/

# Visual Studio & IDE files
.vs/
.vscode/
*.VC.db
*.opendb
*.suo
*.user
*.useroscore
*.sln.docstates

# Clion / JetBrains
.idea/
cmake-build-*/

# App runtime logs / user generated exports
history.txt
test_out.txt
*.log
